
<!-- <pdf-viewer src="assets/sample.pdf"
  style="display: block;
  width: 50vw;
  height: 50vh;
  border: 2px solid blue;">

</pdf-viewer> -->
<!-- <ngx-extended-pdf-viewer 
[src]="'https://ontheline.trincoll.edu/images/bookdown/sample-local-pdf.pdf'"
[zoom]="'auto'"
[language]="'en'"
style="display: block;
  width: 100vw;
  height: 80vh;
  border: 2px solid blue;">

</ngx-extended-pdf-viewer>
<br>
<h3>----------------------------------------------------------------------------------</h3> -->
<h3>Doc - Viewer</h3>
<ngx-doc-viewer
  [url]="'https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.oasis-open.org/spectools/docs/wd-spectools-word-sample-04.doc&ved=2ahUKEwivxq7i7cKFAxUIhf0HHdnhBkYQFnoECBsQAQ&usg=AOvVaw2RTEZ60dE7dkKnlX8lY47B'"
  viewer="google"
  style="width:100%;height:90vh;"
>
</ngx-doc-viewer>